<footer>
  <nav>
    <h4>Index</h4>
    <ul>
      <li class="nav-item">
        <a href="/">Home</a>
      </li>
      <li class="nav-item">
        <a href="/archives">Archives</a>
      </li>
      <li class="nav-item">
        <a href="/about.html">About</a>
      </li>
    </ul>
  </nav>
  <hr class="nav-item"/>
  <div>
    <p class="nav-item">© 2018 <%= config.author %></p>
    <p class="nav-item">Powered by <a href="https://hexo.io">Hexo</a></p>
  </div>
</footer>