<head>
  <%- partial('head') %>
  <link rel="stylesheet" href="/css/index.css" type="text/css"/>
  <title><%- config.title %></title>
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</head>
<body>
  <main class="index">
    <div class="title">
      <span class="decorated">Blog by seamlik</span>
    </div>
    <div class="logos">

    </div>
  </main>
  <%- partial('footer') %>
</body>