<head>
  <%- partial('head') %>
  <title><%- config.title %></title>
</head>
<body>
  <main class="page-content"><div class="wrapper">
    <h1>WTF!</h1>
  </div></main>
  <%- partial('footer') %>
</body>