<head>
  <%- partial('partial/head') %>
  <title><%- config.title %></title>
</head>
<body>
  <main class="page-content"><div class="wrapper">
    <span class="site-title">「The lazy is too so for a homepage.」</span>
  </div></main>
  <%- partial('partial/footer') %>
</body>